body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.image-overlay {
    position: relative;
    height: 100%;
}

.penguin-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    padding: 10px;
    background: rgba(0, 64, 128, 0.7);
    border-radius: 8px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.overlay-text h1,
.overlay-text p {
    margin: 0;
}

.overlay-text h1 {
    font-family: 'Impact', sans-serif;
    font-size: 2em;
}

.overlay-text p {
    font-size: 1em;
}

#facts {
    padding: 20px;
    background-color: #fff;
}

#facts h2 {
    font-family: 'Impact', sans-serif;
    font-size: 2em;
    color: #004080;
    margin-bottom: 20px;
    text-align: left;
    animation: slideInLeft 1s ease-out;
}

/* Fact sections */
.fact-section {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.fact-section h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #004080;
    margin-bottom: 10px;
    text-align: left;
    animation: slideInLeft 1s ease-out;
}

.fact-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
    animation: slideInLeft 1s ease-out 0.5s;
}

/* Image wrapping styles */
.image-wrap {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    animation: slideInRight 1s ease-out;
}

.fact-image {
    max-width: 150px;
    height: auto;
    display: block;
    animation: slideInRight 1s ease-out;
}

/* Footer styles */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .overlay-text {
        right: 2%;
        max-width: 95%;
        padding: 8px;
    }
}